:root{
    font-size: 16px;
    font-family: 'Open Sans';
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --transition-speed: 600ms

}
body{
    color: black;
    background-color: #D3D3D3;
    margin: 0;
    padding: 0;
}
main{
    margin-left: 6rem; /* so that the main content doesnt overlap with the nav bar */
    padding: 3rem;
    margin-top: 1rem;
    background-color: white;
    margin-right: 1rem;
    margin-top: 5rem;
    
   

    
}
body::-webkit-scrollbar {
    width: 0.25rem;
}
body::-webkit-scrollbar-track {
    background: #1e1e24;
}
body::-webkit-scrollbar-thumb {
    background: #6649b8;
}
.navbar {
    position: fixed;
    background-color: var(--bg-primary);
    transition: width 600ms ease;
    overflow: scroll;
    margin-top: 5rem;
  }
.navbar-nav{
  padding: 0;
  margin: 0;
}
.nav-link svg {
  width: 2rem;
  min-width: 2rem;
  margin: 0 1.5rem;
}   

.nav-item{
    width: 100%
}
.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
  }
  
  .nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary);
    color: var(--text-secondary);
  }

  
  .link-text {
    display: none;
    margin-left: 1rem;
  }
  
  .nav-link svg {
    width: 2rem;
    min-width: 2rem;
    margin: 0 1.5rem;
  }
  
  .fa-primary {
    color: #ff7eee;
  }
  
  .fa-secondary {
    color: #df49a6;
  }
  
  .fa-primary,
  .fa-secondary {
    transition: var(--transition-speed);
  }
  
 
  
  /* Small screens */
  @media only screen and (max-width: 600px) {
    .navbar {
      bottom: 0;
      width: 100vw;
      height: 5rem;
      font-display: auto;
      display:flex;
    }
    .nav-link:hover{
        
        width: 8rem;   
    }
    .nav-link svg{
      display:block;
    }
  
    .navbar {
      
      flex-direction: row;
    }
    .navbar-nav{
      display: flex;
      flex-direction: row;
    }
  
    .nav-link {
      justify-content: center;
    }
     svg:hover {
      display: none;
    }
  
    main {
      margin: 0;
      margin-top: 5rem;
      padding: 0;

    }
    body{
      width: auto;
      height: auto;
      margin: 0;
      padding: 0;
    }
  
    .nav-link {
      justify-content: center;
      flex-direction: row;
    }
    .nav-item:hover svg{
      display: none;
    }
    .nav-item:hover span{
      display:block;
    }
    .nav-item:hover .dropdown{
      display: flex;
      width: fit-content;
      
    }
    .dropdown{
      bottom: 100%;
    }
    .table{
      width: fit-content;
      transform:scale(calc(min(calc(100vw / 400px), calc(100vh/300px))));
      transform-origin: top left;
      
    }
  
  }
  
  
  /* Large screens */
  @media only screen and (min-width: 600px) {
    .navbar {
      top: 0;
      width: 5rem;
      height: 100vh;
    }
  
    .navbar:hover {
      width: 16rem;
    }
  
    .navbar:hover .link-text {
      display: inline;
    }
  
   
    
    .nav-item:hover .dropdown{
      display: flex;

    }
    .navbar:hover + main{
      margin-left: 16.5rem;
      transition: var(--transition-speed)
    }
    
  }
  
  .dark {
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
  }
  
  .light {
    --text-primary: #1f1f1f;
    --text-secondary: #000000;
    --bg-primary: #ffffff;
    --bg-secondary: #e4e4e4;
  }
  
  .solar {
    --text-primary: #576e75;
    --text-secondary: #35535c;
    --bg-primary: #fdf6e3;
    --bg-secondary: #f5e5b8;
  }
  
  
  header{
    background-color: var(--bg-primary);
    height: 5rem;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;

}
  
 .home-icon{
    display: block;
    width: 30px;
    height: 30px;  
    margin-top: 0.5rem;
    padding: 1.5rem;
   
  }
  
  
  .button{
    font-size: medium;
    padding: 10px 24px;
  }
  .user-icon{
    display: block;
    width: 20px;
    height: 20px;
    padding: 0;
    margin-top: 1.5rem;
    margin-right: 0.5rem;
    
  }
  .pad{
    color: white;
    padding-top: 1rem;
    padding-bottom: 1rem;
   

    
  }
  .banner{
    display:flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
 
  }
  
  .ban{
    padding: 0;
    margin: 0;
  }
  .four{
    padding: 10px 24px;
    border-radius: 40px;
    margin: 0;
  }
  #four{
    margin: 0;
    margin-top: 1rem;
  }
  #two{
    padding: 0;
    margin-top: 2rem;
    
  }
  ul{
    list-style-type: none;
  }
  .home{
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    margin: 0;
  }
  .dropdown{
    display: none;
    flex-direction: column;
    align-items: center;
    

  }
  a.dd{
   text-decoration: none; 
  }
  .dd{
    height: 3rem;
    color: #b6b6b6;
    text-align: center;
    padding-top: 1.5rem;
    
  }
  
  .dd:hover{
    color: white;
    background-color: var(--bg-secondary);
    width: 100%;
    text-align: center;  
    transition:var(--transition-speed)
  }
  .hi{
    border-radius: 70%;
    width: 10rem;
    height: 10rem;
    border: none;
    background-color: var(--text-primary) ;
  }
  h1{
    font-weight: 100;
    margin-left: 0.75rem;
    width: auto;
  }
  h2{
    font-weight: 100;
    width: 170px;
    display: inline-block;
    margin-left: 1rem;

  }
  h3{
    padding-left: 30px;
  }
  p{
    padding-left: 30px;
  }
  header{
    position: fixed;
    width: 100%;
    margin: 0;
    top: 0;
  }
  table.table{
    width: 100%;
    margin-top: 2rem;

  }
  td th{
    text-align: center;
    padding: 0.5rem;
  }
  button.but1{
    background-color: orange;
    padding: 5px 12px;
    border-radius: 1rem;
    
    
  }
  button.but2{
    background-color: blue;
    padding: 5px 12px;
    color: white;
    border-radius: 1rem;
  
  }
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
tr:nth-child(even),table.list thead>tr {
    background-color: #dddddd;
}
th.head{
  background-color: var(--bg-primary);
  color: white;

}
.edit{
  margin: 0;
  padding:0.5rem;
  width: 75%;
}
.save{
  margin:0;
  padding: 0.5rem 0.33rem;
  width: 15%;
}

  

  